[Unit]
Description=Add wheel members to developer essential groups
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/bazzite-dx-groups
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
