[Unit]
Description=MediaMTX Multi-Camera RTSP/WebRTC Video Router
StartLimitIntervalSec=300
StartLimitBurst=5

[Container]
Image=docker.io/bluenviron/mediamtx:latest@sha256:19fddade8d6110a3d718ac0045681fbeba344ae563a066205fe5929a87f7582f
ContainerName=mediamtx_router
Network=host
Volume=/var/srv/mediamtx/mediamtx.yml:/mediamtx.yml:ro,Z

[Service]
Restart=on-failure
