[Unit]
Description=RustDesk Self-Hosted ID/Signal Server (hbbs)
StartLimitIntervalSec=300
StartLimitBurst=5

[Container]
Image=docker.io/rustdesk/rustdesk-server:latest
ContainerName=rustdesk_hbbs
Network=host
Exec=hbbs
Volume=%h/rustdesk-server:/root

[Service]
Restart=on-failure
